<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{.Title}}</title>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="/css/plugins.css">
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/disabled.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="/images/kmrc-logo.png">
    </head>
    <body>
        <!--loader-->
        <div class="loader-wrap">
            <div class="loader-inner">
                <svg>
                    <defs>
                        <filter id="goo">
                            <fegaussianblur in="SourceGraphic" stdDeviation="2" result="blur" />
                            <fecolormatrix in="blur"   values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 5 -2" result="gooey" />
                            <fecomposite in="SourceGraphic" in2="gooey" operator="atop"/>
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>
        <!--loader end-->
        <!--  main   -->
        <div id="main">
            <!--header-->
            {{template "partials/header" .}}
            <!--header-end-->
            <!--warpper-->
            <div class="wrapper">
                <div class="content">
                    <!--section-->
                    <div class="section hero-section home-hero-section">
                        <div class="hero-section-wrap">
                            <div class="hero-section-wrap-item">
                                <div class="container">
                                    <div class="hero-section-container">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="hero-slider-wrapper">
                                                    <div class="hero-slider">
                                                        <div class="swiper-container">
                                                            <div class="swiper-wrapper">
                                                                <!-- swiper-slide-->
                                                                <div class="swiper-slide">
                                                                    <div class="hero-carousel_item" data-imbg="/images/all/10.jpg">  
                                                                        <div class="hero-section-title hs_align-title">
                                                                            <div class="hero-section-title_sub">Emlak Asistanınıza Hoşgeldiniz!</div>
                                                                            <h2>Kömürcü Emlak ile <br>  Gelecek Heyecan Verici</h2>
                                                                            <h5>Kömürcü Emlak ile hayalinizdeki ev artık tek tuşla erişilebilir!</h5>
                                                                            <a href="#sec1" class="commentssubmit csb_color  custom-scroll-link" style="margin-top: 40px">Keşfetmeye Başla</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- swiper-slide end-->												
                                                                <!-- swiper-slide-->
                                                                <div class="swiper-slide">
                                                                    <div class="hero-carousel_item" data-imbg="/images/all/12.jpg">
                                                                        <div class="hero-section-title hs_align-title">
                                                                            <div class="hero-section-title_sub">Tekliflerimizi Görüntüleyin</div>
                                                                            <h2><a href="/listing-single">Finans Bölgesindeki Evler</a></h2>
                                                                            <div class="geodir-category-location">
                                                                                <a href="#4" class="map-item  single-map-item"><i class="fas fa-map-marker-alt"></i>   FATİH/Istanbul, Türkiye</a>
                                                                            </div>
                                                                            <p>Finans bölgesindeki evleri </p>
                                                                            <a href="/listing-single" class="commentssubmit csb_color" style="margin-top: 40px">Detayları Gör</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- swiper-slide end-->													
                                                                <!-- swiper-slide-->
                                                                <div class="swiper-slide">
                                                                    <div class="hero-carousel_item" data-imbg="/images/all/7.jpg">
                                                                        <div class="hero-section-title hs_align-title">
                                                                            <div class="hero-section-title_sub">Ajansımız  Hakkında Bilgiler</div>
                                                                            <h2>Geniş Kapsamlı <br>   bir Emlak Şirketiyiz</h2>
                                                                            <h5>Yaptıklarımız ve yapacaklarımızı görmek için Hakkımıda'ya tıklayın.</h5>
                                                                            <a href="about.html" class="commentssubmit csb_color  custom-scroll-link" style="margin-top: 40px">Hakkımızda Daha Fazlasını Oku</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- swiper-slide end-->	
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- hero-carousel-wrapper -->				
                                            </div>
                                            <div class="col-lg-4 mob-hid">
                                                <!-- list-searh-input-wrap-->
                                                <div class="list-searh-input-wrap box_list-searh-input-wrap lws_column hero_home_search lsiw_dec">
                                                    <div class="list-searh-input-wrap-title_wrap">
                                                        <div class="list-searh-input-wrap-title"><i class="far fa-sliders-h"></i><span>Use Quick Search</span></div>
                                                        <div class="list-searh-input-radio_wrap">
                                                            <div class="header-search-radio">
                                                                <input class="hidden radio-label" type="radio" name="accept-offers2" id="sale-button2" checked="checked">
                                                                <label class="button-label" for="sale-button2">Sale</label>
                                                                <input class="hidden radio-label" type="radio" name="accept-offers2" id="rent-button2">
                                                                <label class="button-label" for="rent-button2">Rent</label>							
                                                                <input class="hidden radio-label" type="radio" name="accept-offers2" id="comm-button2">
                                                                <label class="button-label" for="comm-button2">Commercial</label>								
                                                            </div>
                                                            <div class="reset-form reset-btn tolt" data-microtip-position="bottom"  data-tooltip="Reset Filters"><i class="fa-solid fa-arrows-rotate"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="custom-form">
                                                        <div class="row">
                                                            <!-- listsearch-input-item -->
                                                            <div class="col-lg-12">
                                                                <div class="cs-intputwrap">
                                                                    <i class="fa-light fa-location-dot"></i>
                                                                    <input type="text"   placeholder="Address , Street , State..." value="">
                                                                </div>
                                                            </div>
                                                            <!-- listsearch-input-item -->
                                                            <!-- listsearch-input-item -->
                                                            <div class="col-lg-12">
                                                                <div class="cs-intputwrap">
                                                                    <i class="fa-light fa-layer-group"></i>
                                                                    <select data-placeholder="Categories" class="chosen-select on-radius no-search-select" >
                                                                        <option>All Categories</option>
                                                                        <option>House</option>
                                                                        <option>Apartment</option>
                                                                        <option>Hotel</option>
                                                                        <option>Villa</option>
                                                                        <option>Office</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <!-- listsearch-input-item -->											
                                                            <!-- listsearch-input-item -->
                                                            <div class="col-lg-12">
                                                                <div class="cs-intputwrap">
                                                                    <div class="price-range-wrap">
                                                                        <label>Price Range</label>
                                                                        <div class="price-rage-item">
                                                                            <input type="text" class="price-range-double" data-min="100" data-max="100000"  name="price-range1"  data-step="1" value="1" data-prefix="$">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- listsearch-input-item -->											
                                                        </div>
                                                        <!-- listsearch-input-item -->									
                                                        <button onclick="window.location.href='listing.html'" class="commentssubmit commentssubmit_fw">Search</button>										
                                                    </div>
                                                </div>
                                                <!-- list-searh-input-wrap end-->							
                                                <div class="hero-notifer">Need more search options? <a href="listing.html">Advanced Search</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hs-scroll-down-wrap">
                                        <div class="scroll-down-item">
                                            <div class="mousey">
                                                <div class="scroller"></div>
                                            </div>
                                            <span>Aşağıya Kaydır</span>
                                        </div>
                                        <div class="svg-corner svg-corner_white"  style="bottom:0;right: -39px; transform: rotate( 90deg)" ></div>
                                        <div class="svg-corner svg-corner_white"  style="bottom:0;left:  -39px;"></div>
                                    </div>
                                    <div class="sc-controls shc_controls2 shc_controls3 slideshow-container-pag-init  "></div>
                                    <div class="hs-slider-controls">
                                        <div class="hs-button-prev hs-slider-button"><i class="fa-solid fa-chevron-left"></i></div>
                                        <div class="hs-button-next hs-slider-button"><i class="fa-solid fa-chevron-right"></i></div>
                                    </div>
                                </div>
                                <div class="bg-wrap bg-hero bg-parallax-wrap-gradien fs-wrapper">
                                    <div class="hero-blur-container fs-wrapper">
                                        <div class="hero-blur-container_item fs-wrapper">
                                            <div class="bg"  data-bg=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--section-end-->	
                    <!--container-->
                    <div class="container">
                        <!--breadcrumbs-list-->
                        <div class="breadcrumbs-list bl_flat">
                            <a href="#">Anasayfa</a> <span>Daireler</span>
                            <div class="breadcrumbs-list_dec"><i class="fa-thin fa-arrow-up"></i></div>
                        </div>
                        <!--breadcrumbs-list end-->		
                        <!--main-content-->
                        <div class="main-content ms_vir_height" id="sec1">
                            <!--boxed-container-->
                            <div class="boxed-container">
                                <div class="listing-grid_heroheader">
                                    <h3>En İyi Dairelere Gözat</h3>
                                    <div class="gallery-filters">
                                        <a href="#" class="gallery-filter gallery-filter-active"  data-filter="*"> Tüm Daireler</a>
                                        <a href="#" class="gallery-filter " data-filter=".cat-sale">Satılık</a>
                                        <a href="#" class="gallery-filter" data-filter=".cat-rent">Kiralık</a>
                                        <a href="#" class="gallery-filter" data-filter=".cat-comercial">Reklam</a>
                                    </div>
                                </div>
                               <!-- listing-grid -->
                                <div class="listing-grid gisp">
                                    {{if .Properties}}
                                        {{range .Properties}}
                                        <!-- listing-grid-item -->
                                        <div class="listing-grid-item">
                                            <div class="listing-item cat-comercial cat-{{.BasicInfo.Category}}">
                                                <div class="geodir-category-listing">
                                                    <div class="geodir-category-img">
                                                        <a href="/listing-single" class="geodir-category-img_item">
                                                            <div class="bg" data-bg="/images/all/1.jpg"></div>
                                                            <div class="overlay"></div>
                                                        </a>
                                                        <div class="geodir-category-location">
                                                            <a href="#4" class="map-item tolt single-map-item" data-newlatitude="40.72956781"
                                                                data-newlongitude="-73.99726866" data-microtip-position="top"
                                                                data-tooltip="On the map"><i class="fas fa-map-marker-alt"></i> {{.Location.Address}}</a>
                                                        </div>
                                                        <ul class="list-single-opt_header_cat">
                                                            <li><a href="#" class="cat-opt">{{.BasicInfo.Category}}</a></li>
                                                            <li><a href="#" class="cat-opt">{{.BasicInfo.Type}}</a></li>
                                                        </ul>
                                                        <a href="#" class="geodir_save-btn tolt" data-microtip-position="left"
                                                            data-tooltip="Save"><span><i class="fal fa-heart"></i></span></a>
                                                        <div class="geodir-category-listing_media-list">
                                                            <span><i class="fas fa-camera"></i> 13</span>
                                                        </div>
                                                    </div>
                                                    <div class="geodir-category-content">
                                                        <h3><a href="/listing-single">{{.BasicInfo.MainTitle}}</a></h3>
                                                        <div class="geodir-category-content_price">$ {{.BasicInfo.Price}}</div>
                                                        <p> {{.PropertyDetails.PropertyMessage}}</p>
                                                        <div class="geodir-category-content-details">
                                                            <ul>
                                                                <li><i class="fa-light fa-bed"></i><span>{{.PropertyDetails.Bedrooms}}</span></li>
                                                                <li><i class="fa-light fa-bath"></i><span>{{.PropertyDetails.Bathrooms}}</span></li>
                                                                <li><i class="fa-light fa-chart-area"></i><span>{{.PropertyDetails.Area}} m²</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="geodir-category-footer">
                                                        <a href="agent-single.html" class="gcf-company"><img src="/images/avatar/2.jpg" alt=""><span>By Niko Furingee </span></a>
                                                        <a href="/listing-single" class="gid_link"><span>View Details</span> <i
                                                                class="fa-solid fa-caret-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ end }}
                                    {{else}}
                                    <div class="col-12 text-center">
                                        <div class="empty-message p-5">
                                            <h3>Çok Yakında Hizmetinizde</h3>
                                            <p>Yeni ürünlerimiz için takipte kalın.</p>
                                        </div>
                                    </div>
                                    {{end}}
                                    <!-- listing-grid-item end-->

                                </div>
                                <!-- listing-grid end -->
                                <a href="/listing" class="commentssubmit csb-no-align">View All Properties <i class="fa-solid fa-caret-right"></i></a>
                            </div>
                            <!--boxed-container end-->
                        </div>
                        <!--main-content end-->	
                    </div>
                    <!--container end-->				 
                    <div class="dark-bg half-carousel-container">
                        <div class="city-carousel-wrap">
                            <div class="half-carousel-title-wrap">
                                <div class="half-carousel-title">
                                    <h2>Explore Best Cities</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a href="listing.html" class="commentssubmit" style="margin-top: 20px">View All Cities<i class="fa-solid fa-caret-right"></i></a>
                                </div>
                                <div class="abs_bg"></div>
                            </div>
                            <div class="city-carousel">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <!--city-carousel-item-->
                                        <div class="swiper-slide">
                                            <div class="city-carousel-item">
                                                <div class="bg-wrap fs-wrapper">
                                                    <div class="bg"  data-bg="/images/all/1.jpg" data-swiper-parallax="10%"></div>
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="city-carousel-content">
                                                    <div class="hc-counter">26 Properties</div>
                                                    <h3><a href="listing.html">Explore NewYork</a></h3>
                                                    <p>Constant care and attention to the patients makes good record</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--city-carousel-item end-->
                                        <!--city-carousel-item-->
                                        <div class="swiper-slide">
                                            <div class="city-carousel-item">
                                                <div class="bg-wrap fs-wrapper">
                                                    <div class="bg"  data-bg="/images/all/2.jpg" data-swiper-parallax="10%"></div>
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="city-carousel-content">
                                                    <div class="hc-counter">15 Properties</div>
                                                    <h3><a href="listing.html">Awesome Rome</a></h3>
                                                    <p>Constant care and attention to the patients makes good record</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--city-carousel-item end-->
                                        <!--city-carousel-item-->
                                        <div class="swiper-slide">
                                            <div class="city-carousel-item">
                                                <div class="bg-wrap fs-wrapper">
                                                    <div class="bg"  data-bg="/images/all/4.jpg" data-swiper-parallax="10%"></div>
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="city-carousel-content">
                                                    <div class="hc-counter">78 Properties</div>
                                                    <h3><a href="listing.html">Elite Houses in Dubai</a></h3>
                                                    <p>Constant care and attention to the patients makes good record</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--city-carousel-item end-->											
                                        <!--city-carousel-item-->
                                        <div class="swiper-slide">
                                            <div class="city-carousel-item">
                                                <div class="bg-wrap fs-wrapper">
                                                    <div class="bg"  data-bg="/images/all/3.jpg" data-swiper-parallax="10%"></div>
                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="city-carousel-content">
                                                    <div class="hc-counter">32 Properties</div>
                                                    <h3><a href="listing.html">Find Dream in Paris</a></h3>
                                                    <p>Constant care and attention to the patients makes good record</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--city-carousel-item end-->
                                    </div>
                                </div>
                                <div class="sc-controls city-pag-init"></div>
                            </div>
                        </div>
                        <div class="city-carousel_controls">
                            <div class="csc-button csc-button-prev"><i class="fas fa-caret-left"></i></div>
                            <div class="csc-button csc-button-next"><i class="fas fa-caret-right"></i></div>
                        </div>
                    </div>
                    <!--main-content-->
                    <div class="main-content ms_vir_height">
                        <!--container -->
                        <div class="container">
                            <div class="boxed-container">
                                <div class="boxed-content "  >
                                    <div class="about-wrap boxed-content-item">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="about-title ab-hero">
                                                    <h2>Why Choose Our Properties </h2>
                                                    <h4>Check video presentation to find   out more about us .</h4>
                                                </div>
                                                <div class="services-opions">
                                                    <ul>
                                                        <li>
                                                            <i class="fal fa-headset"></i>
                                                            <h4>24 Hours Support  </h4>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                        </li>
                                                        <li>
                                                            <i class="fal fa-users-cog"></i>
                                                            <h4>User Admin Panel</h4>
                                                            <p>Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Curabitur convallis fringilla diam sed aliquam. </p>
                                                        </li>
                                                        <li>
                                                            <i class="fal fa-phone-laptop"></i>
                                                            <h4>Mobile Friendly</h4>
                                                            <p>Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa.</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="about-img">
                                                    <img src="/images/all/15.jpg" class="respimg" alt="">
                                                    <div class="about-img-hotifer">
                                                        <p>Your website is fully responsive so visitors can view your content from their choice of device.</p>
                                                        <h4>Mark Antony</h4>
                                                        <h5>Renstate CEO</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- clients-carousel-wrap-->
                                <div class="clients-carousel-wrap">
                                    <div class="clients-carousel-title">Our Trusted Partners  </div>
                                    <div class="clients-carousel">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <!--client-item-->
                                                <div class="swiper-slide">
                                                    <a href="#" class="client-item"><img src="/images/clients/1.png" alt=""></a>
                                                </div>
                                                <!--client-item end-->
                                                <!--client-item-->
                                                <div class="swiper-slide">
                                                    <a href="#" class="client-item"><img src="/images/clients/2.png" alt=""></a>
                                                </div>
                                                <!--client-item end-->
                                                <!--client-item-->
                                                <div class="swiper-slide">
                                                    <a href="#" class="client-item"><img src="/images/clients/3.png" alt=""></a>
                                                </div>
                                                <!--client-item end-->											
                                                <!--client-item-->
                                                <div class="swiper-slide">
                                                    <a href="#" class="client-item"><img src="/images/clients/4.png" alt=""></a>
                                                </div>
                                                <!--client-item end-->
                                                <!--client-item-->
                                                <div class="swiper-slide">
                                                    <a href="#" class="client-item"><img src="/images/clients/5.png" alt=""></a>
                                                </div>
                                                <!--client-item end-->
                                            </div>
                                        </div>
                                        <div class="cc-button cc-button-next"><i class="fal fa-angle-right"></i></div>
                                        <div class="cc-button cc-button-prev"><i class="fal fa-angle-left"></i></div>
                                    </div>
                                </div>
                                <!-- clients-carousel-wrap end-->									
                            </div>
                        </div>
                        <!--container end-->
                        <div class="parallax-section-wrap">
                            <div class="bg-wrap    fs-wrapper" data-scrollax-parent="true">
                                <div class="bg" data-bg="/images/all/3.jpg" data-scrollax="properties: { translateY: '20%' }"></div>
                                <div class="overlay"></div>
                            </div>
                            <div class="container  ">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="parallax-section-content">
                                            <h3>How Our Platform  Works</h3>
                                            <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p>
                                            <a href="add-listing.html" class="commentssubmit csb_color " style="margin-top: 20px">Add Your Propperty</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="process-wrap">
                                            <ul>
                                                <li>
                                                    <div class="process-item">
                                                        <span class="process-count">01 . </span>
                                                        <div class="process-item-icon"><i class="fa-light fa-house-building"></i></div>
                                                        <h4> Find Interesting Place</h4>
                                                        <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
                                                    </div>
                                                    <span class="pr-dec"></span>
                                                </li>
                                                <li>
                                                    <div class="process-item">
                                                        <span class="process-count">02 .</span>
                                                        <div class="process-item-icon"><i class="fa-light fa-mailbox"></i></div>
                                                        <h4> Contact a Few Owners</h4>
                                                        <p>Faucibus ante, in porttitor tellus blandit et. Phasellus tincidunt metus lectus sollicitudin feugiat pharetra consectetur.</p>
                                                    </div>
                                                    <span class="pr-dec"></span>
                                                </li>
                                                <li>
                                                    <div class="process-item">
                                                        <span class="process-count">03 .</span>
                                                        <div class="process-item-icon"><i class="fa-light fa-layer-plus"></i></div>
                                                        <h4> Make a Listing</h4>
                                                        <p>Maecenas pulvinar, risus in facilisis dignissim, quam nisi hendrerit nulla, id vestibulum metus nullam viverra porta.</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- section   -->
                        {{template "partials/comments" .}}
                        <!-- section end  -->										
                        <!--container-->
                        {{template "partials/mobil_app" .}}
                        <!--container end-->
                    </div>
                    <!--main-content end-->
                </div>
                <!--content  end-->
                <!--main-footer-->
                {{template "partials/footer" .}}
                <!--main-footer end-->
            </div>
            <!--warpper end-->
            <!--wish-list-wrap-->
            {{template "partials/wish_list" .}}
            <!--wish-list-wrap end-->
            <!--register form -->
            {{template "partials/signupform" .}}
            <!--register form end -->			
            <!-- progress-bar  -->
            <div class="progress-bar-wrap">
                <div class="progress-bar color-bg"></div>
            </div>
            <!-- progress-bar end -->			
            <!--map-modal -->
            <div class="map-modal-wrap">
                <div class="map-modal-wrap-overlay"></div>
                <div class="map-modal-item">
                    <div class="map-modal-container fl-wrap">
                        <h3> <span>Listing Title </span></h3>
                        <div class="map-modal-close"><i class="fa-regular fa-xmark"></i></div>
                        <div class="map-modal fl-wrap">
                            <div id="singleMap" data-latitude="40.7" data-longitude="-73.1"></div>
                            <div class="scrollContorl"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--map-modal end --> 			
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script src="/js/jquery.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwJSRi0zFjDemECmFl9JtRj1FY7TiTRRo&libraries=places"></script>
        <script src="/js/map-single.js"></script>
        <script src="/js/login.js"></script>
        <script src="/js/register.js"></script>

    </body>
</html>