<!--loader-->
<div class="loader-wrap">
    <div class="loader-inner">
        <svg>
            <defs>
                <filter id="goo">
                    <fegaussianblur in="SourceGraphic" stdDeviation="2" result="blur" />
                    <fecolormatrix in="blur"   values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 5 -2" result="gooey" />
                    <fecomposite in="SourceGraphic" in2="gooey" operator="atop"/>
                </filter>
            </defs>
        </svg>
    </div>
</div>
<!--loader end-->
<!--  main   -->
<div id="main">
    <!--header-->
    {{template "partials/header" .}}
    <div class="body-overlay fs-wrapper search-form-overlay close-search-form"></div>
    <!--header-end-->
    <!--warpper-->
    <div class="wrapper">
        <div class="content">
            <div class="container">

                <div class="breadcrumbs-list bl_flat">
                    <a href="/">Anasayfa</a><a href="/listing">Mülkler</a><a href="#">Istanbul</a><span>{{.Property.BasicInfo.MainTitle}}</span>
                    <div class="breadcrumbs-list_dec"><i class="fa-thin fa-arrow-up"></i></div>
                </div>
            </div>
            <!--single-carousle-container-->
            <!--single-carousle-container-->
            <div class="fw-carousel-container">
                <div class="fw-carousel-wrap">
                    <!-- fw-carousel -->
                    <div class="fw-carousel lightgallery">
                        <div class="swiper-container swiper-container-horizontal" style="cursor: grab;">
                            <div class="swiper-wrapper">
                                {{ if .Property.PropertyMedia }}
                                    {{ range $mediaIndex, $propertyMedia := .Property.PropertyMedia }}
                                        {{ range $imageIndex, $image := $propertyMedia.Image }}
                                            {{ range $filePathIndex, $filePath := $image.FilePath }}
                                                <!-- swiper-slide -->
                                                <div class="swiper-slide hov_zoom" style="margin-right: 10px;">
                                                    <img src="/{{ $filePath }}" alt="{{ index $image.ImageName $filePathIndex }}">
                                                    <a href="/{{ $filePath }}" class="box-media-zoom popup-image">
                                                        <i class="fal fa-search"></i>
                                                    </a>
                                                    <div class="show-info">
                                                        <span>bilgi</span>
                                                        <div class="tooltip-info">
                                                            <h5>Mülk Detayları</h5>
                                                            <p>{{ $.Property.BasicInfo.MainTitle }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- swiper-slide end -->
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ else }}
                                    <p>Resim bulunamadı.</p>
                                {{ end }}
                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                    </div>
                    <!-- fw-carousel end -->
                </div>
                <!-- fw-carousel-wrap end -->
                <div class="fw-carousel-button-prev slider-button" tabindex="0" role="button" aria-label="Previous slide">
                    <i class="fa-solid fa-caret-left"></i>
                </div>
                <div class="fw-carousel-button-next slider-button" tabindex="0" role="button" aria-label="Next slide">
                    <i class="fa-solid fa-caret-right"></i>
                </div>
                <div class="fwc-controls_wrap">
                    <div class="solid-pagination_btns fwc-pagination swiper-pagination-clickable swiper-pagination-bullets">
                        {{ range $mediaIndex, $propertyMedia := .Property.PropertyMedia }}
                            {{ range $imageIndex, $image := $propertyMedia.Image }}
                                {{ range $filePathIndex, $filePath := $image.FilePath }}
                                    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide {{ add $filePathIndex 1 }}"></span>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
            
            <!--single-carousle-container-->
            <div class="container">
                <div class="main-content">
                    <div class="boxed-container">
                        <div class="row">
                            <div class="col-lg-8">
                                <!--boxed-container-->
                                <div class="scroll-content-wrap">
                                    <div class="share-holder init-fix-column">
                                        <span class="share-title"> Paylaş </span>
                                        <div class="share-container isShare">
                                            
                                        </div>
                                    </div>
                                    <div class="list-single-opt_header hsc_flat_bci">
                                        <div class="hero-section_categories">
                                            <a href="#">{{.Property.BasicInfo.Type}}</a>
                                            <a href="#">{{.Property.BasicInfo.Category}}</a>
                                        </div>
                                        <div class="hero-opt-btnns">
                                            <a href="#" class="like-btn tolt" data-microtip-position="left"
                                                data-tooltip="Add to Wishlist"><i class="fa-light fa-heart"></i></a>
                                            <a href="#single_cf" class="custom-scroll-link tolt" data-microtip-position="left"
                                                data-tooltip="Contact to View"><i class="fa-light fa-envelope"></i></a>
                                        </div>
                                    </div>
                                    <!--boxed-content-->
                                    <div class="boxed-content">
                                        <!--boxed-content-item-->
                                        <div class="boxed-content-item">
                                            <div class="hero-section-title_container hsc_flat">
                                                <div class="hero-section-title">
                                                    <h2>{{.Property.BasicInfo.MainTitle}}</h2>
                                                    <h4><i class="fa-solid fa-location-dot"></i> <span>{{.Property.Location.Address}}</span></h4>
                                                    <div class="property-single-header-price">
                                                        <strong>Fiyat:</strong> <span class="pshp_item"><span>₺</span>{{.Property.BasicInfo.Price}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="hero-section-opt">
                                                    <div class="property-single-header-date author_avatar_ps">
                                                        <a href="author-single.html"> <img src="/images/agents/Ramazankomurcu.png" alt=""> Ramazan Kömürcü tarafından</a>
                                                    </div>
                                                    <div class="property-single-header-date"><span>Yayınlayan Şirket:</span><a href="#">Kömürcü Gayrimenkul</a></div>
                                                    <div class="property-single-header-date"><span>Statüsü:</span>İlanda</div>
                                                    <div class="hs-pv_wrap">
                                                        <div class="pv-item">
                                                            <i class="fa-light fa-glasses"></i>
                                                            <span> Görüntüleme - <strong>335</strong></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--boxed-content-item end-->
                                    </div>
                                    <!--boxed-content end-->
            
                                    <!--ps-facts-wrapper-->
                                    <div class="ps-facts-wrapper">
                                        <!--ps-facts-item-->
                                        <div class="ps-facts-item">
                                            <h4>Yatak Odası</h4>
                                            <h5>{{.Property.PropertyDetails.Bedrooms}}</h5>
                                            <i class="fa-light fa-bed"></i>
                                        </div>
                                        <!--ps-facts-item end-->
                                        <!--ps-facts-item-->
                                        <div class="ps-facts-item">
                                            <h4>Banyo</h4>
                                            <h5>{{.Property.PropertyDetails.Bathrooms}}</h5>
                                            <i class="fa-light fa-bath"></i>
                                        </div>
                                        <!--ps-facts-item end-->
            
                                        <!--ps-facts-item-->
                                        <div class="ps-facts-item">
                                            <h4>Alan</h4>
                                            <h5>{{.Property.PropertyDetails.Area}} m²</h5>
                                            <i class="fa-light fa-chart-area"></i>
                                        </div>
                                        <!--ps-facts-item end-->
            
                                        <!--ps-facts-item-->
                                        <div class="ps-facts-item">
                                            <h4>Park Sayısı</h4>
                                            <h5>{{.Property.PropertyDetails.Parking}}</h5>
                                            <i class="fa-light fa-car"></i>
                                        </div>
                                        <!--ps-facts-item end-->
            
                                    </div>
                                    <!--ps-facts-wrapper end-->
                                    <!--boxed-content-->
                                    <div class="boxed-content">
                                        <!--boxed-content-title-->
                                        <div class="boxed-content-title">
                                            <h3>Mülk Hakkında</h3>
                                        </div>
                                        <!--boxed-content-title end-->
                                        <!--boxed-content-item-->
                                        <div class="boxed-content-item">
                                            <p>{{.Property.PropertyDetails.PropertyMessage}}</p>
                                            
                                            <div class="pp-single-opt-wrap">
                                                <div class="pp-single-opt-links">
                                                    <ul>
                                                        <li><a href="#" download=""><i class="fa-light fa-file-pdf"></i> Broşürü İndir </a></li>
                                                        <li><a href="#"><i class="fa-light fa-layer-group"></i> Kat Planını Görüntüle</a>
                                                        </li>
                                                    </ul>
                                                    <a href="#" class="pp-single-opt-link_silngle">Websitesini Ziyaret Et</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!--boxed-content-item end-->
                                    </div>
                                    <!--boxed-content end-->
                                    <!--boxed-content-->
                                    <div class="boxed-content">
                                        <!--boxed-content-title-->
                                        <div class="boxed-content-title">
                                            <h3>Mülkün Sahip Oldukları</h3>
                                        </div>
                                        <!--boxed-content-title end-->
                                        <!--boxed-content-item-->
                                        <div class="boxed-content-item">
                                            <div class="pp-single-opt">
                                                <div class="pp-single-features ">
                                                    <ul>
                                                        {{ range $amenities := .Property.Amenities }}
                                                        {{if $amenities.FitnessGym}}
                                                        <li><a href="#"><i class="fal fa-dumbbell"></i> Spor Salonu</a></li>
                                                        {{end}}
                                                        {{if $amenities.Wifi}}
                                                        <li><a href="#"><i class="fal fa-wifi"></i> Wi Fi</a></li>
                                                        {{end}}
                                                        {{if $amenities.Parking}}
                                                        <li><a href="#"><i class="fal fa-parking"></i> Park</a></li>
                                                        {{end}}
                                                        {{if $amenities.AirConditioning}}
                                                        <li><a href="#"><i class="fal fa-cloud"></i> Klima</a></li>
                                                        {{end}}
                                                        {{if $amenities.Pool}}
                                                        <li><a href="#"><i class="fal fa-swimmer"></i> Havuz</a></li>
                                                        {{end}}
                                                        {{if $amenities.Security}}
                                                        <li><a href="#"><i class="fal fa-cctv"></i> Güvenlik</a></li>
                                                        {{end}}
                                                        {{if $amenities.LaundryRoom}}
                                                        <li><a href="#"><i class="fal fa-washer"></i> Çamaşır Odası</a></li>
                                                        {{end}}
                                                        {{if $amenities.EquippedKitchen}}
                                                        <li><a href="#"><i class="fal fa-utensils"></i> Donanımlı Mutfak</a></li>
                                                        {{end}}
                                                        {{if $amenities.GarageAtached}}
                                                        <li><a href="#"><i class="fal fa-garage"></i> Garaj</a></li>
                                                        {{end}}
                                                        {{if $amenities.Fireplace}}
                                                        <li><a href="#"><i class="fal fa-fire"></i> Şömine</a></li>
                                                        {{end}}
                                                        {{if $amenities.WindowCovering}}
                                                        <li><a href="#"><i class="fal fa-blinds"></i> Pencere örtüsü</a></li>
                                                        {{end}}
                                                        {{if $amenities.Backyard}}
                                                        <li><a href="#"><i class="fal fa-fence"></i> Arka bahçe</a></li>
                                                        {{end}}
                                                        {{if $amenities.Elevator}}
                                                        <li><a href="#"><i class="fal fa-elevator"></i> Asansör</a></li>
                                                        {{end}}
                                                        {{ end }}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--boxed-content-item end-->
                                    </div>
                                    <!--boxed-content end-->
            
                                    <!--banner-widget-wrap-->
                                    <div class="banner-widget-wrap">
                                        <div class="bg-wrap bg-parallax-wrap-gradien fs-wrapper">
                                            <div class="bg" data-bg="/images/all/14.jpg"
                                                ></div>
                                        </div>
                                        <div class="banner-widget_content">
                                            <div class="video-box-btn" id="html5-videos" data-html="#video1"><i
                                                    class="fas fa-play"></i></div>
                                            <h5><span>Emlak Video Gösterimi</span></h5>
                                        </div>
                                        <div  id="video1" class="popup_video" data-videolink="video/2.mp4">
                                            <div class="vsc-controller"></div>
                                            <video class="lg-video-object lg-html5" controls="" preload="none">
                                                <source src="video/2.mp4" type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                    <!--banner-widget-wrap end-->
            
                                    <div class="accordion">
                                        <a class="toggle act-accordion" href="#">İlan Detayları <i
                                                class="fa-solid fa-caret-down"></i></a>
                                        <div class="accordion-inner visible">
                                            <p>{{.Property.PropertyDetails.PropertyMessage}}</p>
                                        </div>
                                       
                                    </div>
                                    <!--boxed-content-->
                                    <div class="boxed-content">
                                        <!--boxed-content-title-->
                                        <div class="boxed-content-title">
                                            <h3>Mülk Lokasyonu </h3>
                                        </div>
                                        <!--boxed-content-title end-->
                                        <!--boxed-content-item-->
                                        <div class="boxed-content-item">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="map-container mapC_vis2">
                                                        <div id="singleMap" class="single-map-container fs-wrapper"
                                                            data-latitude="{{.Property.Location.Latitude}}" data-longitude="{{.Property.Location.Longitude}}"
                                                            data-maptitle="Our Location" data-infotitle="House in Financial Distric"
                                                            data-infotext="70 Bright St New York, USA">
                                                            <!-- Harita içeriği buraya gelecek -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="nerby-list-wrap">
                                                        <div class="nerby-list-container">
                                                            <div class="nerby-list">
                                                                <span class="nerby-title">Yakında Neler Var?</span>
                                                                <div class="nerby-list-box">
                                                                    <ul>
                                                                        {{ range $nearby := .Property.Nearby }}
                                                                        <li><i class="fa-light fa-school"></i>{{$nearby.Places}}: <span>{{$nearby.Distance}}metre</span>
                                                                        </li>
                                                                        {{ end }}
                                                                    </ul>
                                                                    <a href="#" class="commentssubmit commentssubmit_fw"
                                                                        style="margin-top: 10px">Rotayı Getir</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--boxed-content-item end-->
                                    </div>
                                    <!--boxed-content end-->
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <!--boxed-container-->
                                <div class="sb-container">
                                    <div class="charts-container">
                                        <div class="dec-title">
                                            <div class="dec-title_item">
                                                Fiyat Değişimi
                                                <div class="svg-corner svg-corner_dark">
                                                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z" fill="#000000"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="charts-item dark-bg sb-widget">
                                            <div class="graph-price-container">
                                                <div class="graph-price animaper">
                                                    <div class="graph-price-item">
                                                        <div class="graph" data-percent="50%">
                                                            <div class="gil" style="height: 50%;"><span>$130.00</span></div>
                                                        </div>
                                                        <div class="graph-price-item-title">Mart</div>
                                                    </div>
                                                    <div class="graph-price-item">
                                                        <div class="graph" data-percent="65%">
                                                            <div class="gil" style="height: 65%;"><span>$145.00</span></div>
                                                        </div>
                                                        <div class="graph-price-item-title">Nisan</div>
                                                    </div>
                                                    <div class="graph-price-item">
                                                        <div class="graph" data-percent="55%">
                                                            <div class="gil" style="height: 55%;"><span>$135.00</span></div>
                                                        </div>
                                                        <div class="graph-price-item-title">Mayıs</div>
                                                    </div>
                                                    <div class="graph-price-item">
                                                        <div class="graph" data-percent="78%">
                                                            <div class="gil" style="height: 78%;"><span>$155.500</span></div>
                                                        </div>
                                                        <div class="graph-price-item-title">Haziran</div>
                                                    </div>
                                                </div>
                                                <div class="graph-price-counter">
                                                    <div class="graph-price-counter-wrap">
                                                        <div class="stats animaper">
                                                            <div class="num" data-content="27" data-num="27">27</div>
                                                            <span class="price-perc"><i class="fa-light fa-percent"></i></span>
                                                        </div>
                                                        <h4>Object Price change percentage</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--boxed-content-->
                                    <div class="boxed-content">
                                        <!--boxed-content-title-->
                                        <div class="boxed-content-title">
                                            <h3>Etiketler</h3>
                                        </div>
                                        <!--boxed-content-title end-->
                                        <!--boxed-content-item-->
                                        <div class="boxed-content-item bc-item_smal_pad">
                                            <div class="tags-widget">
                                                <a href="#">Hotel</a>
                                                <a href="#">Hostel</a>
                                                <a href="#">Room</a>
                                                <a href="#">Spa</a>
                                                <a href="#">Restourant</a>
                                                <a href="#">Parking</a>
                                            </div>
                                        </div>
                                        <!--boxed-content-item end-->
                                    </div>
                                    <!--boxed-content end-->
            
                                    <!--boxed-content-->
                                    <div class="fixed-form-wrap">
                                        <div class="fixed-form">
                                            <div class="boxed-content">
                                                <!--boxed-content-title-->
                                                <div class="boxed-content-title">
                                                    <h3>Gösterim Talebinde Bulunun</h3>
                                                </div>
                                                <!--boxed-content-title end-->
                                                <!--boxed-content-item-->
                                                <div class="boxed-content-item">
                                                    <div class="property-contacts-wrap">
                                                        <div class="property-contacts-item sh-links">
                                                            <div class="property-contacts_profile">
                                                                <a href="agent-single.html" class="property-contacts_profile_link">
                                                                    <img src="/images/agents/Ramazankomurcu.png" alt="">
                                                                    <span>Aracı:</span>Ramazan Kömürcü
                                                                </a>
                                                            </div>
                                                            <div class="property-contacts-links">
                                                                <a href="tel:+905363256210" class="tolt pcl_btn"
                                                                    data-microtip-position="left" data-tooltip="Call"><i
                                                                        class="fa-solid fa-phone"></i></a>
                                                                <a href="#" class="show-messenger-links pcl_btn tolt"
                                                                    data-microtip-position="left" data-tooltip="Write Message"><i
                                                                        class="fa-solid fa-message-sms"></i></a>
                                                            </div>
                                                            <div class="messenger-links-container">
                                                                <a href="#" class="tolt" data-microtip-position="bottom"
                                                                    data-tooltip="Viber"><i class="fa-brands fa-viber"></i></a>
                                                                <a href="#" class="tolt" data-microtip-position="bottom"
                                                                    data-tooltip="Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
                                                                <a href="#" class="tolt" data-microtip-position="bottom"
                                                                    data-tooltip="Telegram"><i class="fa-brands fa-telegram"></i></a>
                                                                <a href="#" class="tolt" data-microtip-position="bottom"
                                                                    data-tooltip="Facebook Messenger"><i
                                                                        class="fa-brands fa-facebook-messenger"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="log-separator"><span>ya da</span></div>
                                                        <p>Aşağıdaki formu kullanarak görüntüleme saatini ve tarihini seçin.</p>
                                                    </div>
                                                    <div class="custom-form" id="single_cf">
                                                        <form method="post" name="contact-property-form">
                                                            <div class="cs-intputwrap">
                                                                <i class="fa-light fa-user"></i>
                                                                <input name="name" type="text" placeholder="İsminiz"
                                                                    onclick="this.select()" value="">
                                                            </div>
                                                            <div class="cs-intputwrap">
                                                                <i class="fa-light fa-phone-office"></i>
                                                                <input name="phone" type="text" placeholder="Telefon Numaranız"
                                                                    onclick="this.select()" value="">
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="cs-intputwrap">
                                                                        <i class="fa-light fa-calendar"></i>
                                                                        <div class="date-container">
                                                                            <input type="text" placeholder="Tarih" id="res_date"
                                                                                name="datepicker-here" value="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="cs-intputwrap">
                                                                        <i class="fa-light fa-calendar"></i>
                                                                        <select data-placeholder="Time"
                                                                            class="chosen-select on-radius no-search-select">
                                                                            <option>9 AM</option>
                                                                            <option>10 AM</option>
                                                                            <option>11 AM</option>
                                                                            <option>12 AM</option>
                                                                            <option>13 PM</option>
                                                                            <option>14 PM</option>
                                                                            <option>15 PM</option>
                                                                            <option>16 PM</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button onclick="window.location.href='listing.html'"
                                                                class="commentssubmit commentssubmit_fw">İsteği Gönder</button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!--boxed-content-item end-->
                                            </div>
                                        </div>
                                    </div>
                                    <!--boxed-content end-->
            
                                </div>
                            </div>
                        </div>
                        <div class="limit-box"></div>
                    </div>
                    <div class="boxed-container">
                        <div class="boxed-content-title bcst_ca">
                            <h3>Benzer İlanlar</h3>
                        </div>
                        <div class="single-carousel-wrap">
                            <div class="single-carousel">
                                <div class="swiper-container swiper-container-horizontal">
                                    <div class="swiper-wrapper">
                                        <!-- Benzer özelliklerin döngüsü buraya gelecek -->
                                    </div>
                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ss-carousel-pagination_wrap">
                            <div class="solid-pagination_btns ss-carousel-pagination_init swiper-pagination-clickable swiper-pagination-bullets">
                                <!-- Dinamik olarak oluşturulan sayfalandırma butonları buraya gelecek -->
                            </div>
                        </div>
                        <div class="ss-carousel-button-wrap">
                            <div class="ss-carousel-button ss-carousel-button-prev"><i class="fas fa-caret-left"></i></div>
                            <div class="ss-carousel-button ss-carousel-button-next"><i class="fas fa-caret-right"></i></div>
                        </div>
                    </div>
                </div>
                <!--main-content end-->
                <div class="to_top-btn-wrap">
                    <div class="to-top to-top_btn"><span>En Başa Dön</span> <i class="fa-solid fa-arrow-up"></i></div>
                    <div class="svg-corner svg-corner_white" style="top:0;left: -40px; transform: rotate(-90deg)">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z" fill="#ffffff"></path>
                        </svg>
                    </div>
                    <div class="svg-corner svg-corner_white" style="top:0;right: -40px; transform: rotate(-180deg)">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 40V0C40 22.0914 22.0914 40 0 40H40Z" fill="#ffffff"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <!-- container end-->
        </div>
        <!--content  end-->
        <!--main-footer-->
        {{template "partials/footer" .}}
        <!--main-footer end-->
    </div>
    <!--warpper end-->
    <!--wish-list-wrap-->
    {{template "partials/wish_list" .}}
    <!--wish-list-wrap end-->
    <div class="mob-nav-overlay fs-wrapper"></div>
    <div class="body-overlay fs-wrapper wishlist-wrap-overlay clwl_btn"></div>
    <!--register form -->
    {{template "partials/signupform" .}}
    <!--register form end -->				
    <!-- progress-bar  -->
    <div class="progress-bar-wrap">
        <div class="progress-bar color-bg"></div>
    </div>
    <!-- progress-bar end -->			
</div>
<!-- Main end -->