<!--main-footer-->
<div class="height-emulator"></div>
<footer class="main-footer">
    <div class="container">
        <div class="footer-inner">
            <div class="row">
                <!-- footer-widget -->
                <div class="col-lg-4">
                    <div class="footer-widget">
                        <div class="footer-widget-title">Uygulamamızı İndirin(Yakında)</div>
                        <div class="footer-widget-content">
                            <p>Çok yakında hizmete açılacak uygulamamız ile birlikte emlak sektöründeki gelişmeler ve fırsatlarmızdan kolay bir şekilde haberdar olabilirsiniz.</p>
                            <div class="api-links-wrap">
                                <a href="#" class="footer-widget-content-link"><span> App Store'da</span><i class="fa-brands fa-apple"></i></a>
                                <a href="#" class="footer-widget-content-link"><span> Google PLay Store'da</span><i class="fa-brands fa-google-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer-widget  end-->
                <!-- footer-widget -->
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <div class="footer-widget-title">Yardımcı Linkler</div>
                        <div class="footer-widget-content">
                            <div class="footer-list footer-box  ">
                                <ul>
                                    <li><a href="#">En yeni Haberlerimiz</a></li>
                                    <li><a href="#">Fiyatlama Planımız</a></li>
                                    <li><a href="#">İletişim</a></li>
                                    <li><a href="#">Yardım Merkezi</a></li>
                                    <li><a href="#">Gizlilik Politikası</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer-widget  end-->
                <!-- footer-widget -->
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <div class="footer-widget-title">İletişim Adreslerimiz</div>
                        <div class="footer-widget-content">
                            <div class="footer-list footer-box  ">
                                <ul  class="footer-contacts  ">
                                    <li><span>Mail :</span><a href="#" target="_blank">r_k_ist@hotmail.com</a></li>
                                    <li> <span>Adress :</span><a href="#" target="_blank">Akşemsettin, Battalgazi Sk. No:21, 34080 Fatih/İstanbul</a></li>
                                    <li><span>Phone :</span><a href="#">0536 325 62 10</a></li>
                                </ul>
                                <a href="/contacts" class="footer-widget-content-link"><span>İletişime Geçin</span><i class="fa-solid fa-caret-right"></i></a>	
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer-widget  end-->								
                <!-- footer-widget -->
                <div class="col-lg-4">
                    <div class="footer-widget">
                        <div class="footer-widget-title">Abone olun</div>
                        <div class="footer-widget-content">
                            <p>Yeni bir şablon veya güncelleme başlattığımızda bildirim almak ister misiniz? Sadece kaydolun ve size e-postayla bir bildirim gönderelim.</p>
                            <form id="subscribe"   class="subscribe-item">
                                <input class="enteremail" name="email" id="subscribe-email" placeholder="Email Adresiniz" spellcheck="false" type="text">
                                <button type="submit" id="subscribe-button" class="subscribe-button"><span>Gönder</span> </button>
                                <label for="subscribe-email" class="subscribe-message"></label>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- footer-widget  end-->
            </div>
            <!-- footer-widget-wrap end-->					
        </div>
        <div class="footer-bottom">
            <a href="index.html" class="footer-home_link"><i class="fa-regular  fa-house"></i></a>		
            <div class="copyright"> <span>&#169;Kömürcü Emlak 2024</span> . Tüm hakları saklıdır. </div>
            <div class="footer-social">
                <span class="footer-social-title">Bizi takip edin</span>
                <div class="footer-social-wrap">
                    <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a> 
                    <a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a> 
                    <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a> 
                    <a href="#" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a>										 
                </div>
            </div>
        </div>
    </div>
</footer>
<!--main-footer end-->