<div class="container">
    <div class="api-wrap">
        <div class="api-container">
            <div class="api-img">
                <img src="/images/api.png" alt="" class="respimg">
            </div>
            <div class="api-text">
                <h3>Uygulamamız(Çok yakında çıkacak...)</h3>
                <p>Siz değerli müşterilerimize daha iyi hizmet verebilmek adına mobil uygulamasının da yapım aşamasında olduğunu bildirmek isteriz😊</p>
                <div class="api-text-links">
                    <a href="#"><span> App Store'dan indirin</span><i class="fa-brands fa-apple"></i></a>
                    <a href="#"><span>Google PLay Store'dan indirin</span><i class="fa-brands fa-google-play"></i></a>												
                </div>
            </div>
            <div class="api-wrap-bg" data-run="2">
                <div class="api-wrap-bg-container">
                    <span class="api-bg-pin"></span><span class="api-bg-pin"></span>
                    <div class="abs_bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="to_top-btn-wrap">
        <div class="to-top to-top_btn"><span>En Başa Dön</span> <i class="fa-solid fa-arrow-up"></i></div>
        <div class="svg-corner svg-corner_white"  style="top:0;left:  -40px; transform: rotate(-90deg)"></div>
        <div class="svg-corner svg-corner_white"  style="top:0;right: -40px; transform: rotate(-180deg)"></div>
    </div>
</div>