<div class="boxed-content btf_init">
    <div class="user-dasboard-menu_wrap">
        <div class="user-dasboard-menu-header">
            <div class="user-dasboard-menu_header-avatar">
                <img src="/{{ if .User.PhotoUrl }}{{ .User.PhotoUrl }}{{ else }}images/avatar/4.jpg{{ end }}">
                <span>Hoşgeldiniz <strong> {{.User.Name}}</strong></span>
                <a href="/kullanici-panel/profili-duzenle" class="usmha_edit tolt" data-microtip-position="left"
                    data-tooltip="Profili Düzenle"><i class="fa-light fa-user-pen"></i></a>
                <div class="db-menu_modile_btn"><strong>Menü</strong><i class="fa-regular fa-bars"></i></div>
            </div>
        </div>
        <div class="user-dasboard-menu faq-nav ">
            <ul>
                <li><a href="/kullanici-panel" class="act-scrlink"> Kullanıcı Paneli</a></li>
                <li><a href="/"> Reklamlarınız </a></li>
                <li><a href="dashboard-requests.html"> İstek ve Önerileriniz <span>6</span> </a></li>
                <li><a href="/kullanici-panel/yeni-ilan-ekle"> Yeni İlan Ekle </a></li>
                <li><a href="/kullanici-panel/profili-duzenle"> Profili Düzenle</a></li>
                <li><a href="/blogs"> Blog Yazısı Ekle</a></li>
                <li><a href="/kullanici-panel/ilanlarim"> İlanlarım</a></li>
            </ul>
            <form action="/logout" method="post">
                <button type="submit" class="hum_log-out_btn">
                    <i class="fa-light fa-power-off"></i> Çıkış Yap
                </button>
            </form>
        </div>
    </div>
</div>