<div class="wish-list-wrap">
    <div class="wish-list-close clwl_btn"><i class="fa-regular fa-xmark"></i></div>
    <div class="wish-list_header">
        <div class="wish-list-title">Your Wishlist <span>3</span></div>
    </div>
    <div class="wish-list-container">
        <!--wish-list-item-->
        <div class="wish-list-item fl-wrap">
            <div class="wish-list-img"><a href="ilan.html"><img src="/images/all/thumbnails/1.jpg" alt=""></a>  
            </div>
            <div class="wish-list-descr">
                <h4><a href="ilan.html">Urban House</a></h4>
                <div class="geodir-category-location fl-wrap"><a href="#"> 40 Journal Square  , NJ, USA</a></div>
                <div class="wish-list-price"> $ 320,000</div>
                <div class="clear-wishlist tolt"  data-microtip-position="left"  data-tooltip="Remove Item" ><i class="fa-regular fa-trash-can"></i></div>
            </div>
        </div>
        <!--wish-list-item end-->
        <!--wish-list-item-->
        <div class="wish-list-item fl-wrap">
            <div class="wish-list-img"><a href="ilan.html"><img src="/images/all/thumbnails/2.jpg" alt=""></a>  
            </div>
            <div class="wish-list-descr">
                <h4><a href="ilan.html">Luxury Family Home</a></h4>
                <div class="geodir-category-location fl-wrap"><a href="#">    34-42 Montgomery St , NY, USA</a></div>
                <div class="wish-list-price">  $ 1500 - per month</div>
                <div class="clear-wishlist tolt"  data-microtip-position="left"  data-tooltip="Remove Item" ><i class="fa-regular fa-trash-can"></i></div>
            </div>
        </div>
        <!--wish-list-item end-->
        <!--wish-list-item-->
        <div class="wish-list-item fl-wrap">
            <div class="wish-list-img"><a href="ilan.html"><img src="/images/all/thumbnails/3.jpg" alt=""></a>  
            </div>
            <div class="wish-list-descr">
                <h4><a href="ilan.html">Modern Apartment</a></h4>
                <div class="geodir-category-location fl-wrap"><a href="#">    75 Prince St, NY, USA</a></div>
                <div class="wish-list-price"> $ 1,600,000</div>
                <div class="clear-wishlist tolt"  data-microtip-position="left"  data-tooltip="Remove Item" ><i class="fa-regular fa-trash-can"></i></div>
            </div>
        </div>
        <!--wish-list-item end-->					
    </div>
    <div class="wish-list-footer">
        <button  class="commentssubmit commentssubmit_fw"> Clear Wishlist</button>
    </div>
</div>
<div class="body-overlay fs-wrapper wishlist-wrap-overlay clwl_btn"></div>
<div class="mob-nav-overlay fs-wrapper"></div>